.at {
    width: 25rem;
    text-transform: capitalize;
    font-family: "Courier New";

    .ath {
        text-align: center;
    }

    .atb ul {
        li {
            list-style: none;
        }
    }
}
