body {
    height: 100vh;
    padding: 1.5rem;
    background-image: linear-gradient(#a1c4fd, #c2e9fb);
}

.titleA {
    width: auto;
    height: 20vh;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 7vh;
    margin-bottom: 0.5rem;
    background-image: -webkit-linear-gradient(#ff9a9e,#fad0c4);
}

.full {
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-image: linear-gradient(#cfd9df, #e2ebf0);
}

.bodY {
    width: 30vh;
    height: auto;
    padding: 0.5rem;
    width: 40vh;
}

.bodY #nav {
    border-radius: 0.5rem;
    text-align: center;
}

.bodY #nav a {
    text-transform: capitalize;
    color: white;
}

.bodY #nav a:hover {
    text-decoration-line: underline;
    text-decoration-color: teal;
}



.table {
    width: 60vh;
    height: auto;
}

.table ul li {
    text-transform: capitalize;
}

.table ul li:hover {
    background-image: linear-gradient(#667eea, #764ba2);
}

.table ul li:hover a {
    color: white;
}


.footer {
    width: auto;
    height: 20vh;
    text-transform: capitalize;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    padding: 5vh;
    background-image: -webkit-linear-gradient(#ff9a9e,#fad0c4);
}